{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Food Data Visualization</h1>
    <div class="text-center mb-4">
        <button id="add-food" class="btn btn-primary mx-2">Add Food</button>
        <button id="modify-food" class="btn btn-primary mx-2">Modify Food</button>
        <button id="delete-food" class="btn btn-primary mx-2">Delete Food</button>
        <button id="pie-chart-btn" class="btn btn-primary mx-2">Pie Chart</button>
        <button id="bar-chart-btn" class="btn btn-primary mx-2">Bar Chart</button>
        <button id="scatter-plot-btn" class="btn btn-primary mx-2">Scatter Plot</button>
    </div>
    <div id="chart-container" class="text-center"></div>
</div>
{% endblock %}
